.dropdown-menu {
    z-index: 1050;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Oculto por defecto */
    width: auto; /* Ajusta automáticamente al ancho del input */
}

.dropdown-menu.show {
    display: block; /* Mostrar sugerencias */
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}


/* Ajustes para listas en modales */
#editBookModal .list-group {
    position: absolute;
    top: calc(100% + 5px); /* Coloca la lista justo debajo del input */
    width: 100%; /* Ajusta el ancho al del input */
    max-height: 200px;
    overflow-y: auto; /* Permite scroll si hay muchas opciones */
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1050;
    margin-top: 5px; /* Espacio entre el input y la lista */
}

/* Elementos de lista dentro de los modales */
#editBookModal .list-group-item {
    cursor: pointer;
}

#editBookModal .list-group-item:hover {
    background-color: #f8f9fa;
}

/* Estilo general del cuerpo para evitar conflictos */
body {
    position: relative;
}

/* Estilo general para tablas */
.table th, .table td {
    word-wrap: break-word;
}

.table .col-autor,
.table .col-genero,
.table .col-categoria,
.table .col-editorial {
    width: 200px;
    white-space: normal; /* Ajuste de texto a varias líneas */
}

.table .col-titulo {
    width: 525px;
    white-space: normal;
    word-wrap: break-word;
}

/* Ajustes para modales */
.custom-modal-width .modal-dialog {
    max-width: 80% !important;
    margin: auto;
}

@media (min-width: 992px) {
    .custom-modal-width .modal-dialog {
        max-width: 90%; /* Más ancho para pantallas grandes */
    }
}

.modal-dialog {
    max-width: 45% !important;
    margin: auto !important;
    margin-top: 30px !important;
}

/* Estilo del contenido del modal */
.modal-body .row {
    margin-bottom: 20px;
}

.modal-body .form-control, 
.modal-body .form-select {
    font-size: 14px;
    padding: 0.75rem;
}

.modal-body .form-check-input {
    margin-top: 0.3rem;
}

.modal-body .form-control[name="descripcion"] {
    min-height: 120px;
}
